@font-face {
  font-family: 'gosha_sansbold';
  src: url('../fonts/goshasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gosha_sanslight';
  src: url('../fonts/goshasans-light-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gosha_sansmedium';
  src: url('../fonts/goshasans-medium-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gosha_sansregular';
  src: url('../fonts/goshasans-regular-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gosha_sansultrabold';
  src: url('../fonts/goshasans-ultrabold-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gosha_sansultralight';
  src: url('../fonts/goshasans-ultralight-webfont.woff2') format('woff2'),
       url('../fonts/goshasans-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}